{% extends 'base.html' %}
{% block title %}
About
{% endblock %}
{% block content %}
<div class="container">
	<div class="section">
		<h1 class="center-align">Hey There!</h1>
		<h2>Welcome to Vizualize.....</h2>
		<p>I made this tool as my first project. It is a simple tool that takes your excel file containing your sales report with some predifined columns, processes the data and shows some basic facts about the report.</p>

		<h3><a href="#">GitHub</a></h3>
		<h6 class="right-align">- By Jay Budhadev</h6>
	</div>
</div>
{% endblock %}